body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import PrimeReact theme */
@import "primereact/resources/themes/saga-blue/theme.css";

/* Import PrimeReact core styles */
@import "primereact/resources/primereact.min.css";

/* Import PrimeIcons */
@import "primeicons/primeicons.css";

/* Optionally, import PrimeFlex for additional utilities (if needed) */
@import "primeflex/primeflex.css";
